<!DOCTYPE html>
<html>
<head>
	<title>HR HOME</title>
</head>
<body>
	<h1>WELCOME <%= welcome%></h1>
	<a href="/welcome">Logout</a>
	<a href="/HR-Home">Back</a>
	<div>
		<% for(var i=0; i<cv_and_names.length; i++){%>
			<h2> <%= cv_and_names[i].username %></h2>
			<h2> <%= cv_and_names[i].email %></h2>
			<h2> <%= cv_and_names[i].password %></h2>
			<a href="<%= cv_and_names[i].cv %>">CV</a>

			<form action="/Controller/approvedCV" method="POST"> 
				<button type="button" onclick='show("acceptHidden")'>accept</button>
				<div id="acceptHidden" style="display: none;">
					Confirm Mail: <input type="email" name="acceptEmail" placeholder="Confirm Mail">
					Question Type:<input type="text" name="questionType">
					<input type="submit" value="confirm!"> 
				</div> 
			</form>

			<form action="/Controller/rejectedCV" method="POST"> 
				<button type="button" onclick='show("rejectHidden")'>reject</button>
				<div id="rejectHidden" style="display: none;">
					<input type="email" name="rejectEmail" placeholder="Confirm Mail">
					<input type="submit" value="confirm!"> 
				</div> 
			</form>
			<p>---------------------------------------------------------------</p>
		<% } %>
	</div>

	<script>
	function show(hidden) {
	  var x = document.getElementById(hidden);
	  if (x.style.display === "none") {
	    x.style.display = "block";
	  }else{
	    x.style.display = "none";	  	
	  }
	}
	</script>

</body>
</html>